/*active form*/
#workflow {background:#ebd5f1; margin-bottom:2em; float:left; width:100%; padding-bottom:1em;}
#workflow .gutter {padding:1em; }
#workflow h2 {margin:0;font-size:.9em !important; font-weight:bold;}

#wf_info {float:left; width: 35%;}
#wf_info.wide {width: 50%; margin-right:10%;}
#wf_info p {margin:0 0 0;}
#exworkflow-form {float:left; width:35%;}

.published {font-size:.9em; line-height:1.2em; margin:0 0 1em !important; color:#73178c;}
.form-item-wf-state {margin:0 !important;}

/*inactive form*/
.inactive {background:#ddd; padding:1em; margin-bottom:2em;}
