


#page .form-item-field-category-pa-und #edit-field-category-pa-und{
	width: 100%;
	height: 300px;
}
#faq-node-form #edit-title {width:100%; font-size:15px;}

#edit-title {font-size:16px;}

/* limit width of overlay window for long FAQ titles */
#overlay-title-wrapper h1#overlay-title {width:700px;}

#field-original-question-add-more-wrapper textarea.form-textarea {background:#fff; padding:.5em; font-size:18px; -webkit-text-fill-color:#777}


/* allign radio buttons horizontally */
#field-appraisal-values .form-radios{
	height: 27px;
}

#field-appraisal-values .form-type-radios div.description{
	margin-bottom: 10px;
	width: 380px;
	white-space: normal;
}

#field-appraisal-values .form-radios > div{
	width: 50px;
	float: left;

}
#field-appraisal-values .form-item-field-appraisal-und-0-appraisal-user{
	height: 75px;
}

#field-appraisal-values label{
	margin-top: 20px;
}

#field-appraisal-values .field-label label{
	margin: 0 0 0 5px;
}