.details {
  display:none;
}

#views-exposed-form-kaltura-list-entries-default .form-item-view-opts {
  float: left;
  clear: both;
}
.views-exposed-form .views-submit-button {
  clear: right;
  float: none;
}
.kentry_add {
  cursor: pointer;
}

div.thumb-with-prev {
}
div.thumb-with-prev img.k-preview {
  position: absolute;
  right: 44%;
  top: 19%;
  z-index: 20000;
}

.views-widget-filter-kaltura_text {
  float: left;
  clear: right;
}

.views-widget-filter-kaltura_media_type {
  float: left;
  clear: left;
}

#edit-kaltura-media-type .form-type-checkbox {
  float: left;
  margin-right: 130px;
}

.pager {
  float: left;
}
.action {
  float: right;
}
.kcw-button {
  position: absolute;
  right: 20px;
  top: 60px;
  z-index: 1002;
}
.img.k-rotate {
  width: 100%;
  height: 100%;
}
.view-kaltura-existing table,
.view-kaltura-list-entries table {
  table-layout: fixed;
  position: relative;
}
.view-kaltura-existing table .views-field-kaltura-thumbnail-url,
.view-kaltura-list-entries table .views-field-kaltura-thumbnail-url {
  width: 15%;
  overflow: hidden;
}
.view-kaltura-existing table .views-field-kaltura-title,
.view-kaltura-list-entries table .views-field-kaltura-title {
  width: 15%;
  overflow: hidden;
}
.view-kaltura-existing table .views-field-kaltura-description,
.view-kaltura-list-entries table .views-field-kaltura-description {
  width: 30%;
  overflow: hidden;
}

.view-kaltura-existing table .views-field-kaltura-tags,
.view-kaltura-list-entries table .views-field-kaltura-tags {
  width: 15%;
  overflow: hidden;
}
.view-kaltura-existing table .views-field-kaltura-created-date,
.view-kaltura-list-entries table .views-field-kaltura-created-date {
  width: 15%;
  overflow: hidden;
}
.view-kaltura-existing table .views-field-kaltura-text-entryid,
.view-kaltura-list-entries table .views-field-kaltura-edit-metadata {
  width: 10%;
  overflow: hidden;
}
.view-kaltura-existing table td div,
.view-kaltura-list-entries table td div {
  height: 4em;
}

.view-kaltura-existing .item-list,
.view-kaltura-list-entries .item-list {
  clear: both;
  float: left;
}

.view-kaltura-existing .view-content,
.view-kaltura-list-entries .view-content {
  float: left;
  width: 100%;
}
